build*/
bstreams/
iprepo/
tmp/
hd_visual/
ip_dir/
xsim.dir/
tb_user/
apps/
rust/
.Xil/
csim/
.vscode/
*.pb
*.log
*.tmp
*.jou
*.str
*.xml
*.config
*.zip
*.debug
*.dwo
*.mod
*.mod.dwo
*.cmd
*.symvers
*.ko
*.mod.c
*.mod.o
*.o
*.order
rnd_table
tabulation_table.sv
driver_new
*.dat
*.old
*.bk
*.bak
*.csv
*.out
misc/
synth/
*_stub.v
*_stub.vhdl
*_funcsim.v
*_funcsim.vhdl
*.upgrade_log
*.dcp
*.d
