*
**/.autpilot/*
**/.ipynb_checkpoints/*
!*/
!**/*.csv
!**/*eval*.png
!**/*kfold*.png
!**/*sparsity*.png
!**/pooled/*
!**/manifest*.json
!**/fold_0/gradcam_final/high_ro_standalone_gradcam_1024.png
!**/fold_0/gradcam_final/high_ro_standalone_gradcam.png
!**/fold_0/gradcam_final/overview_grid.png
!.gitignore
